<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            Login effettuato con successo
        </title>
        <meta name="description" content="Hai effettuato con successo il Login">
        <meta name="keywords" content="Login, Captcha">
        <meta name="author" content="Sinicato Nicola">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Hai effettuato con successo il Login, forse non sei un bot!</h1>
    </body
</html>